@import 'ngx-toastr/toastr';
:root {
  --primer-color: #fdd281;
  --segundo-color: #deb887;
  --tercer-color: #f37b25;  
  --hover-color: #ff1900;
  --background-color: #b6c5c9;
  --texto-color: #572d11;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif; 
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.toast-container {
  position: absolute;
}

.toast-container .ngx-toastr {
  box-shadow: none !important;
}

.toast-container .ngx-toastr.toast-validacion {
  background-color:#6aff5c96;
  color: #0e8f03; 
  padding: 10px 10px 10px 56px; 
  border-radius: 10px; 
  font-size: 1.3rem; 
  border: 1px solid #0e8f03; 
  transition: background-color 0.5s ease; 
}



.toast-container .ngx-toastr.toast-denegado {
  background-color:#ffc3c388;
  color: rgb(255, 0, 0); 
  padding: 10px 10px 10px 56px; 
  border-radius: 10px; 
  font-size: 1.3rem; 
  border: 1px solid #ff0000be; 
/*   box-shadow: 0px 0px 5px 0px #ff0000; */
  transition: background-color 0.5s ease; 
}

