<div class="container">
  <div class="desenfoque">
    <div class="form">
      <form>
        <div class="datos">
          <h2 class="rotulo">Añadir libro</h2>
          <label><span>Titulo del libro</span><input [(ngModel)]="titulo" name="titulo" type="text" required></label>
          <label><span>Autor del libro</span><input [(ngModel)]="autor" name="autor" type="text" required></label>
          <label><span>Tipo de tapa</span><select [(ngModel)]="type" name="type">
              <option value="Tapa Dura">Tapa Dura</option>
              <option value="Tapa Blanda">Tapa Blanda</option>
            </select></label>
          <label><span>Precio</span><input [(ngModel)]="precio" name="precio" type="number" required></label>
          <label><span>Url de la imagen</span><input [(ngModel)]="imagenUrl" name="imagenUrl" type="text"
              required></label>
        </div>
        <div class="btn">
          <button type="button" (click)="agregarLibro()">Agregar libro</button>
        </div>
      </form>
    </div>
  </div>
</div>