.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://st2.depositphotos.com/50999930/46680/i/450/depositphotos_466809190-stock-photo-heart-shaped-book-pages.jpg');
  background-size: cover;
  background-position: left;
  box-shadow: inset 0 0 0 10px rgba(0, 0, 0, 0.5);
  height: 100%;
}

.desenfoque {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.486);
}

.rotulo {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 20px;
}

.form {
  width: 50%;
  max-width: 400px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--background-color);
  background-color: rgba(255, 255, 255, 0.315);
  border-radius: 8px;
}




form {
  width: 100%;
  height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background-color: var(--background-color);
    border-radius: 8px;
    text-align: left;
  }

.datos {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  font-weight: bold;
}

input {
  width: 100%;
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #eeeeee;
  margin-top: 5px;
}

span {
  font-size: 1.5rem;
  font-weight: bold;
}

select {
  width: 100%;
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #eeeeee;
  margin-top: 2px;
}

option {
  font-size: 1rem;
  font-weight: bold;
  margin: 4px;
}


button {
  width: 100%;
  padding: 10px;
  background-color: var(--primer-color);
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.5rem;
}

button:hover {
  background-color: color-mix(in srgb, var(--primer-color), #777 10%);
}

@media (max-width: 768px) {
  .container {
    background-size: contain;
  }

  .form {
    width: 50%;
    padding: 15px;
  }

  .rotulo{
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .datos {
    gap: 5px;
  }

  span {
    font-size: 1rem;
  }

  button {
    font-size: 1rem;
    padding: 8px;
  }

}


@media (max-width: 475px) {
  .container {
    background-size: contain;
  }

  .form {
    width: 50%;
    padding: 10px;
  }

  .rotulo{
    display: none;
  }

  .datos {
    gap: 2px;
  }

  input, select {
    padding: 3px;
    font-size: 0.8rem;
    margin-top: 1px;
  }

  button {
    padding: 6px;
  }

  span {
    font-weight: bold;
    font-size: 0.8rem;
  }

}