<div class="container">
  <div class="desenfoque">
    <div class="form">
      <form>
        <div class="datos">
          <h2 class="rotulo">Actualizar libro</h2>
          <div class="buscar">
            <label><span>Id del libro</span><input [(ngModel)]="id_book" name="id_book" type="number"></label>
            <button (click)="encontrarLibro()">Buscar</button>
          </div>
          <label><span>Id del usuario</span><input [(ngModel)]="id_user" name="id_user" type="number"></label>
          <label><span>Titulo del libro</span><input [(ngModel)]="title" name="title" type="text"></label>
          <label><span>Tipo de tapa</span><select [(ngModel)]="type" name="type">
              <option value="Tapa Dura">Tapa Dura</option>
              <option value="Tapa Blanda">Tapa Blanda</option>
            </select></label>
          <label><span>Autor del libro</span><input [(ngModel)]="author" name="author" type="text"></label>
          <label><span>Precio</span><input [(ngModel)]="price" name="price" type="number"></label>
          <label><span>Url de la imagen</span><input [(ngModel)]="photo" name="photo" type="text"></label>
        </div>
        <div class="btn">
          <button type="button" (click)="modificarLibro()">Modificar</button>
        </div>
      </form>
    </div>
  </div>
</div>