<main>
  <div class="desenfoque">
    <div class="form">
      <form>
        <h1 class="rotulo">Libros</h1>
        <label><span>Id del libro</span><input [(ngModel)]="libroId" name="libroId" type="number"> </label>
        <button (click)="buscarLibro()">Buscar</button>
      </form>
    </div>
    <section *ngIf="arrayBooks?.length > 0; else sinLibros">
      <ng-container *ngFor="let book of arrayBooks; let isEven = even">
        <app-card [bookDesdePadre]="book" [isEven]="isEven"  (borrarLibroEvent)="borrarLibro($event)">
        </app-card>
      </ng-container>
    </section>
    <ng-template #sinLibros>
      <div class="vacio">
        <h2>No hay libros disponibles</h2>
      </div>
    </ng-template>
  </div>
</main>